* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.layout,
.books-container,
ul,
.book-info-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 5vh;
}

a {
  text-decoration: none;
}

a:visited,
a:active,
a:link {
  color: black;
}

main {
  height: 65vh;
}

.books-container ul li {
  list-style: none;
  font-size: 1.9vw;
}

ul {
  gap: 2vw;
}

h1 {
  font-size: 4vw;
}
h2,
h3,
h4 {
  font-size: 2vw;
}

.book-info-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 3vh;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.book-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 99vw;
  gap: 1vw;
}

.book-links button,
.book-form button,
.create {
  height: 6vh;
  width: 8vw;
  cursor: pointer;
}

.book-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  gap: 2vh;
}

.book-title {
  width: 20vw;
  height: 5vh;
  text-align: center;
}

.book {
  height: 5vh;
  width: 20vw;
  text-align: center;
}

img {
  min-width: 20vw;
  max-width: 20vw;
  min-height: 50vh;
  max-height: 50vh;
}

.books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
}
